
.advertisement-filter {
  width: 100%;
  margin: 0!important;
  .filter-price input#slider-price, .filter-area input#slider-area {
   display: none;
  }

  .box {
    background-color: #f1f1f1;
    .box-tools {
      display:inline-block;
      float: right;

      .btn {
        background: none;
        padding: 0;
        margin-right: 10px;
        font-size: 16px;
        opacity: .5;
        &:hover {
          color: #000;
          text-decoration: none;
          opacity: .75;
        }
        i {
          text-shadow: 0 1px 0 #fff;
        }
      }
    }
    .box-header {
      height: 35px;
      background-color: #11577f;
      color: #f9f7f6;
      padding: 6px 0 0 5px;
    }
    .box-title {
      display: inline-block;
      margin-left: 7px;
    }
    .close {
      font-size: 1.3rem;
      margin-right: 7px;
    }
    .box-body {
      .filter-result {
        width: 97%;
        margin: 0 auto;
        margin-top: 3px;
        padding: 0 5px;
        .filter-result-tags {
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
          a {
            display: block;
            color: $text-color;
            font-weight: normal;
            border: 1px solid #e08113;
            border-radius: 5px;
            padding: 0 2px;
            margin: 8px 4px 0 2px;
            &:hover {
              text-decoration: none;
              color: #e08113;
            }
            i {
              font-size: 0.7rem;
              color: #e08113;
            }
          }
        }
      }
      .selected-filter {
        display: flex;
        list-style-type: none;
      }

      .filter-price, .filter-area {
        div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          input {
            display: block;
            width: 45%;
            color: $text-color;
            border: 1px solid #d9d9d9;
            padding: 2px 4px;
            &:focus {
              border: 1px solid #d9d9d9;
            }
          }
        }
      }
      .filter-date {
        #item_filter_addDate {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          div {
            display: block;
            width: 45%;
            color: $text-color;
            &:focus {
              border: 1px solid $base-color;;
            }
            input {
              width: 100%;
              border-radius: 2px;
              border: 1px solid #d9d9d9;
              padding: 2px 2px;
              color: #626161;
            }
          }
        }
      }

      .filter-purpose {
        select {
          width: 100%;
          height: 100px;
          color: $text-color;
          padding: 3px 5px;
          option {
            font-size: 0.9rem;
            &:hover {
              background-color: #aad4f5;
            }
          }
        }
      }

      .filter-provision {
        label {
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer */
          -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
          -webkit-user-select: none; /* Chrome, Safari, and Opera */
          -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
        }
        position: relative;
        input[type=checkbox] {
          position: absolute;
          opacity: 0;
        }
        input[type=checkbox]:checked + label div {
          border: 2px solid #7bd74a;
          padding: 6px;
        }
        input[type=checkbox]:checked + label .sprite-road {
          background-position: 0 -32px;
        }
        input[type=checkbox]:checked + label .sprite-water {
          background-position: -96px 0;
        }
        input[type=checkbox]:checked + label .sprite-walve {
          background-position: -64px -32px;
        }
        input[type=checkbox]:checked + label .sprite-waste {
          background-position: -32px -64px;
        }
        input[type=checkbox]:checked + label .sprite-idea {
          background-position: -32px 0;
        }
        .provision {
          background-color: #f1f1f1;
          margin: 0 4px;
          padding: 7px;
          text-align: center;
          border: 1px solid #e1e1e1;
          border-radius: 3px;
          .sprite {
            width: 32px;
            height: 32px;
            background-image: url("../../../src/AppBundle/Resources/public/img/ico/spritesheets.png");
            background-repeat: no-repeat;
            display: block;
            margin: 0;
          }
          .sprite-road {
            background-position: -64px 0;
          }
          .sprite-water {
            background-position: -64px -64px;
          }
          .sprite-walve {
            background-position: -32px -32px;
          }
          .sprite-waste {
            background-position: 0 -64px;
          }
          .sprite-idea {
            background-position: 0 0;
          }
          &:hover {
            cursor: pointer;
            border: 1px solid #7bd74a;
          }
        }
      }
      .filter-geometry {
        width: 95%;
        .input-group {
          align-items: center;
        }
        .form-control {
          height: 28px;
          padding: 2px;
        }

      }
      .filter-btn {
        display: flex;
        justify-content: space-between;
        text-align: right;
        width: 100%;
        .btn-blue {
          margin-right: 15px;
        }
      }

      ul {
        margin-top: 10px;
        li {
          padding-top: 10px;
          border-top: 1px solid #d5d5d5;
          margin: 0 5px;
          padding-bottom: 10px;
          font-size: 0.9rem;
          i {
            margin: 0 10px 10px 10px;
            color: #adb5bd;
          }
        }
      }
      #id-advertisement {
        visibility: hidden;
        height: 0px;
      }

    }
  }
}