@import '../generalSettings';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';
@import '~bootstrap-slider/dist/css/bootstrap-slider.css';
@import '~ol/ol.css';
@import 'filter';


.cursor-pointer {
  cursor: pointer;
}

.transition-non {
  transition: none!important;
}

@media print {
  @page {
    size: landscape;
  }
  body {
    transform: scaleX(1.25);
  }
  table {
    page-break-inside: avoid;
  }
  .layersAll, .map-filter, .edit_buttons { display: none; }
}

//--------------------------------------------------- Layers panel
.map {
  height: calc(100% - 62px);
  width: 100%;
  position: fixed;
  top: 62px;
}

.map-filter {
  width: 310px;
  position: fixed;
  padding: 1px 0px;
  background-color: #f1f1f1;
  top: 70px;
  right: calc(100vw - 337px);
  //right: 60px;
  z-index: 10;
  font-size: 16px;
  box-shadow: 0px 1px 6px 0px #bfb8b8;
}

.choose-layer {
  width: 200px;
  position: fixed;
  padding: 1px 0px;
  background-color: #ffffff;
  top: 70px;
  right: -351px;
  z-index: 10;
  font-size: 16px;
}

.choose-layer-move-in, .move-in {
  animation-name: example-in;
  animation-duration: .4s;
  right: 51px;
}

.choose-layer-move-out, .move-out {
  right: -351px;
  animation-name: example-out;
  animation-duration: .4s;

}

@keyframes example-in {
  0% {
    right: -351px;
    opacity: 0
  }
  25% {
    right: -200px;
    opacity: 0
  }
  50% {
    right: 0px;
    opacity: 0
  }
  100% {
    right: 51px;
    opacity: 1
  }
}

@keyframes example-out {
  0% {
    right: 51px;
    opacity: 1
  }
  50% {
    right: 0px;
    opacity: 0
  }
  75% {
    right: -100px;
    opacity: 0
  }
  100% {
    right: -351px;
    opacity: 0
  }
}

.choose-head {
  width: 198px;
  height: 35px;
  background-color: #11577f;
  color: #f9f7f6;
  padding: 6px 0 0 5px;
}

.choose-head img {
  padding-right: 5px;
  width: auto !important;
}

.choose-head button {
  padding-right: 10px;
  font-size: 21px;

}

.choose-layer-group {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  width: 200px;
}

.choose-layer .active {
  background-color: #cfebfc;
  border: 1px solid #3c8dbc;
}

.choose-layer-item {
  display: block;
  width: 200px;
  background-color: #f9f7f6;
  border-bottom: 1px solid #d8d7d7;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding: 6px 15px;
}

.choose-layer-item:last-child {
  border-bottom: none;
}

.choose-layer-item:hover {
  cursor: pointer;
  background-color: #cfebfc;
}

//------------------------------------------------------zoom panel
.zoom-layer {
  width: 39px;
  position: fixed;
  padding: 1px 1px;
  background-color: #ffffff;
  top: 320px;
  right: 10px;
  z-index: 10;

}

.zoom-layer-border {
  border: 1px solid #3c8dbc;

}

.zoom-layer button {
  transition: .4s ease;
  -webkit-transition: .4s ease;
}

.my-zoom-in {
  width: 35px;
  height: 35px;
  background: #f2efe9 url("../../../src/AppBundle/Resources/public/img/plus.png") no-repeat center;
  border: none;
  border-bottom: 1px solid #d8d7d7;
}

.my-zoom-full {
  width: 35px;
  height: 35px;
  background: #f2efe9 url("../../../src/AppBundle/Resources/public/img/web.png") no-repeat center;
  border: none;
  border-bottom: 1px solid #d8d7d7;
}

.my-zoom-out {
  width: 35px;
  height: 35px;
  background: #f2efe9 url("../../../src/AppBundle/Resources/public/img/minus.png") no-repeat center;
  border: none;
}

.my-zoom-in:hover, .my-zoom-full:hover, .my-zoom-out:hover {
  background-color: #aad4f5;
  cursor: pointer;
}

.my-zoom-in:focus, .my-zoom-full:focus, .my-zoom-out:focus, .close:focus {
  outline: none;
}

//---------------------------------------------------------control panel

.control-panel {
  width: 39px;
  position: fixed;
  padding: 1px 1px;
  background-color: #ffffff;
  top: 70px;
  right: 10px;
  z-index: 10;
}

.control-panel button {
  transition: .4s ease;
  -webkit-transition: .4s ease;
}

.control-panel .active {
  background-color: #cfebfc;
}

.cp-button{
  width: 35px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #d8d7d7;
  &:hover{
    background-color: #aad4f5;
    cursor: pointer;
  }
  &:focus{
    outline: none;
  }
}

.cp-layer {
  background: #f9f7f6 url("../../../src/AppBundle/Resources/public/img/layers_2.png") no-repeat center;
}

.cp-ruler {
  background: #f9f7f6 url("../../../src/AppBundle/Resources/public/img/ruler.png") no-repeat center;
}

.cp-erase {
  background: #f9f7f6 url("../../../src/AppBundle/Resources/public/img/eraser.png") no-repeat center;
}

.cp-print {
  background: #f9f7f6 url("../../../src/AppBundle/Resources/public/img/printer.png") no-repeat center;
}

.cp-placeholder {
  background: #f9f7f6 url("../../../src/AppBundle/Resources/public/img/placeholder.png") no-repeat center;
}

.cp-closest {
  background: #f9f7f6 url("../../../src/AppBundle/Resources/public/img/placeholder.png") no-repeat center;
}

.cp-area {
  background: #f9f7f6 url("../../../src/AppBundle/Resources/public/img/polygon.png") no-repeat center;
}

//---------------------------------------------------------mouse-position-panel
$mouse-position-height: 28px;
.mouse-position-panel {
  width: 165px;
  height: $mouse-position-height;
  position: fixed;
  padding: 5px 9px;
  background: rgba(249, 247, 246, 0.7);
  text-align: center;
  top: calc(100vh - 28px);
  right: calc(100vw - 177px);
  z-index: 10;
}

//------------------------------------------------------- for measure
#map .tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}

.hidden {
  //display: none;
  top: 70px;
  //right: calc(100vw - 337px);
  right: -600px!important;
}
.hidden-ico {
  visibility: hidden;

}

.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.tooltip-static {
  background-color: #755C48 !important;
  color: black;
  border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.tooltip-static:before {
  border-top-color: #755C48;
}

.modal-header {
  flex-direction: row-reverse;
}

.start-position {
  top: 70px;
  //right: calc(100vw - 337px);
  right: 60px;
}
.move-position {
  top: 70px;
  //right: calc(100vw - 337px);
  right: 258px;
}

.map-details-info {
  background-color: #f1f1f1;
  padding: 1px 0;
  width: 310px;
  position: fixed;
  z-index: 11;
  box-shadow: 0px 1px 6px 0px #bfb8b8;
  transition: .4s ease ;
  &:hover {
    cursor: default !important;
  }
  .map-details-head {
    width: 100%;
    height: 35px;
    color: #f9f7f6;
    background-color: #11577f;
    padding: 4px 9px 2px 5px;
    .move-right {
      border: none;
      background: none;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }
    i {
      color: #dffff9;
    }
    img {
      width: auto;
      margin-right: 5px;
    }
  }
  img {
    width: 100%;
  }

  $height-slider: 206px; //-------------------висота слайдера
  #carouselMapControls {
    .carousel-inner {
      width: 100%;
      max-height: $height-slider;
    }
    .carousel-item {
      width: 100%;
      height: $height-slider;
      position: relative;

      img {
        max-height: $height-slider;
        max-width: 310px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .carousel-control-change {
      vertical-align: middle;
      color: $base-color;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        color: $base-color;
      }
      i {
        font-size: 1.5rem;
      }
    }
  }

  .map-provision {
    display: flex;
    justify-content: space-around;
    margin: 0 5px;
    border-bottom: 1px solid #d5d5d5;
    padding: 10px 0;

    div {
      background-color: #f1f1f1;
      margin-right: 0;
      padding: 6px;
      text-align: center;
      border: 1px solid #e1e1e1;
      border-radius: 3px;
    }
    .active {
      border: 2px solid #7bd74a;
    }
  }
  .map-purpose {
    margin: 0 7px;
    padding: 10px 0;
    border-bottom: 1px solid #d5d5d5;
  }
  .map-main {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    width: 100%;
    .map-main-caption {
      padding: 20px 0 20px 15px;
      width: 40%;
      color: lighten($text-color, 10%);
      div:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    .map-main-values {
      padding: 20px 0 20px 15px;
      width: 60%;
      color: $text-color;
      div:first-child {
        margin-bottom: 5px;
      }
      div:last-child {
        margin-top: 5px;
      }
      .map-main-price {
        vertical-align: middle;
        color: #ff7f00;
        font-size: 1.4rem;
      }
    }
  }
  .map-properties-button-container {
    margin-top: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 7px;

    .advertisement-properties-button {
      color: $base-color;
      text-align: center;
      width: 78%;
      display: block;
      height: 35px;
      border-radius: 0.2rem 0rem 0rem 0.2rem;
      border: 1px solid $base-color;
      transition: 0.1s;
      padding-top: 5px;
      &:hover {
        background-color: #aad4f5;
        text-decoration: none;
        color: white;

      }
    }
    .advertisement-text-position {
      display: block;
      height: 35px;
      width: 49px;
      text-align: center;
      color: $icon-color;
      font-size: 1rem;
      padding-top: 4px;
      border-radius: 0rem 0.2rem 0.2rem 0rem;
      border-right: 1px solid $icon-color;
      border-top: 1px solid $icon-color;
      border-bottom: 1px solid $icon-color;
      i {
        font-size: 1.5rem;
        align-self: end;
        margin-left: 6px;
      }
      &:hover {
        cursor: pointer;
        color: $text-color;
        text-decoration: none;
      }
    }
  }
  #map-properties-geom  {
    visibility: hidden;
    height: 0;
  }

}