@import '../generalSettings';

.ogoloshenny {
//  border: solid 1px #5eb5e0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ogol-one {
  width: 282px;
  border: solid 1px #5eb5e0;
  margin: 10px;

}
.poster-setting {
  width: 300px;
  //border: solid 1px #5eb5e0;
}
.btn-input {
  font-size: 1.5rem;
  //vertical-align: bottom;
}
.color--white {
  color: #c8e8f7;
}