@import '../error/error';
@import '../generalSettings';
@import '../../js/lib/adminLTE/css/AdminLTE.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';
@import '~bootstrap-slider/dist/css/bootstrap-slider.css';
@import '~ol/ol.css';
@import 'filter';
@import 'details';

//$icon-color: #adb5bd; //---------колір іконок в оголошенні
//$text-color: #414042; //---------колір основного тексту

//---------------------------------блок оголошень

a:hover {
  text-decoration: none;
}
i {
  color: #adb5bd;
}
.advertisement-selected {
  padding: 1px;
  position: absolute;
  top: 7px;
  left: 239px;
  color: #adb5bd;
  transition: 0.2s;
  &:hover {
    color: #cb132d;
    cursor: pointer;
  }
  &:active {
    color: #870215;

  }
}

.advertisement {
  width: 75%;
  padding: 0 15px;

  .advertisement-control-panel {
    height: fit-content;

    .count {
      flex-grow: 1;
      color: #adb5bd;
    }
    .sorting-price {
      flex-grow: 2;
      button {
        border-color: #ced4da;
        border-radius: 2px;
        color: $text-color;
        font-size: 0.9rem;
        width: 250px;
      }
      .dropdown-menu a {
        display: block;
        font-size: 0.9rem;
        padding: 0.25rem 1.5rem;
        font-weight: 400;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        width: 100%;
        color: lighten($text-color, 10%);
        &:hover {
          background-color: #f8f9fa;
          color: $text-color;
        }
      }
    }
    a {
      font-size: 1.8rem;
      i {
        color: #adb5bd;
        &:hover {
          color: #626161;
        }
      }
    }
  }
  // ------------------------------окреме оголошення
  .advertisement-one {
    position: relative;
    width: 265px;
    border: solid 1px #d9d9d9;
    margin: 20px 0;
    transition: 0.1s;

    &:hover {
      border: solid 1px white;
      box-shadow: 0px 1px 6px 0px #bfb8b8;
    }
    #carouselControls {
      img {
        max-height: 400px;
        max-width: 670px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .advertisement-one-top {
      position: absolute;
      top: 22px;
      left: -2px;
      color: white;
      background-color: #ffca03;
      transition: 0.3s;
      width: 100px;
      font-size: 1.3rem;
      padding: 0 0 2px 10px;
      vertical-align: top;
      z-index: 10;
    }
    //----------------------------блок img
    .advertisement-img-tab {
      position: relative;
      height: 175px;
      overflow: hidden;
      img {
        max-height: 175px;
        max-width: 265px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .advertisement-one-photo-count {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-left: 4px;
        position: absolute;
        top: 143px;
        left: 0px;
        background: rgba(173, 181, 189, 0.43);
        width: 61px;
        color: white;
      }
    }
    .advertisement-geom {
      visibility: hidden;
      height: 0;
    }
  }
  // ------------------------------окреме оголошення list
  .advertisement-one-list {
    position: relative;
    border: solid 1px #d9d9d9;
    transition: 0.1s;
    height: fit-content;

    &:hover {
      border: solid 1px white;
      box-shadow: 0px 1px 6px 0px #bfb8b8;
    }
    .advertisement-one-top {
      position: absolute;
      top: 22px;
      left: -3px;
      color: white;
      background-color: #ffca03;
      transition: 0.3s;
      width: 78px;
      font-size: 1.2rem;
      padding: 0 0 2px 10px;
      vertical-align: top;
      z-index: 10;
    }
    //----------------------------блок img
    .advertisement-img {
      position: relative;
      overflow: hidden;
      img {
        max-height: 152px;
        max-width: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .advertisement-selected {
        left: 165px;
        top: 11px;
      }

      .advertisement-one-photo-count {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-left: 4px;
        position: absolute;
        top: 109px;
        left: 0px;
        background: rgba(173, 181, 189, 0.43);
        width: 61px;
        color: white;
      }
    }
    //--------------------------------блок текстова частина
    .advertisement-text-list {

      a.advertisement-text-title {
        color: $base-color;
        word-break: break-all;
        &:hover {
          color: #0d7fce;
          cursor: pointer;
          text-decoration: none;
        }
      }
      .advertisement-text-content {
        width: 100%;
        margin: 10px 0;
        font-size: 1rem;
        color: $text-color;
        word-break: break-all;
      }
      .details-provision {
        display: flex;
        width: 80%;
        align-items: center;
        margin-top: 15px;
        div {
          background-color: #f1f1f1;
          padding: 8px;
          text-align: center;
          border: 1px solid #e1e1e1;
          border-radius: 3px;
          img {
            width: 25px;
          }
        }
        .active {
          border: 2px solid #7bd74a;
        }
      }

      .advertisement-text-date {
        color: #5c5c5c;
        font-size: 1rem;
        align-self: flex-end;
        text-align: right;
      }
    }
    .advertisement-properties {

      .advertisement-properties-button-container {
        width: 100%;
        .advertisement-properties-button {
          width: 177px;
        }
        .advertisement-text-position {
          width: 49px;
        }
      }

      .advertisement-properties-text {
        width: 55%;
        color: #7c7a7a;
        padding-right: 5px;
        div {
          text-align: right;
        }
        div:not(:first-child) {
          margin-top: 8px;
        }
      }
      .advertisement-properties-value {

        .advertisement-text-square {
          color: $text-color;
          font-size: 1.1rem;
        }
        .advertisement-text-price {
          color: #ff7f00;
          font-size: 1.4rem;
        }
      }
    }
  }

  //--------------------------------блок текстова частина
  .advertisement-text {
    padding: 7px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.1rem;
    font-family: MyriadPro;
    line-height: 1.5rem;
    border-top: 1px solid #d9d9d9;

    a.advertisement-text-title {
      color: $base-color;
      word-break: break-all;
      &:hover {
        color: #0d7fce;
        cursor: pointer;
        text-decoration: none;
      }
    }
    .advertisement-text-square {
      margin-top: 10px;
      color: $text-color;
      font-size: 1.1rem;
      width: 100%;
      i {
        margin-right: 10px;
        font-size: 1.4rem;
        color: $icon-color;
      }

    }
    .advertisement-text-price {
      width: 100%;
      margin-top: 13px;
      color: #ff7f00;
      font-size: 1.4rem;
      align-self: center;
    }

    .advertisement-text-content {
      width: 100%;
      margin: 10px 0;
      font-size: 1rem;
      color: $text-color;
      word-break: break-all;
    }

    .advertisement-text-date {
      width: 120px;
      display: flex;
      color: #5c5c5c;
      font-size: 1rem;
      align-self: center;

      i {
        font-size: 1.5rem;
        align-self: end;
        color: $icon-color;
        margin-right: 7px;
      }
    }

    .advertisement-text-position {
      text-align: right;
      color: $icon-color;
      font-size: 1rem;

      i {
        font-size: 1.5rem;
        align-self: end;
        margin-left: 6px;
      }
    }
    .advertisement-text-position:hover {
      cursor: pointer;
      color: $text-color;
      text-decoration: none;
    }
  }
}

.btn-input {
  font-size: 1.5rem;
}

.color--white {
  color: #c8e8f7;
}

@media (max-width: 1199px) {
  .main-container {
    flex-wrap: wrap;
  }
  .advertisement-filter {
    width: 100%;
    padding: 0 25px;
  }
  .filter-block {
    width: 30%;
  }
  .filter-purpose {
    max-width: 59%;
  }
  .filter-provision {
    max-width: 39%;
  }
  .advertisement {
    width: 95%;
  }

  #item_filter_dirPurpose {
    height: 85px;
  }

}

@media screen and (max-width: 992px) {
  .advertisement {
    justify-content: space-around;
  }
  .advertisement-img {
    width: 28%!important;
  }
  .advertisement-text-list {
    width: 48%!important;
  }
  .advertisement-filter {
    width: 100%;
    padding: 0 10px;
  }
  .main-container {
    flex-wrap: wrap;
  }
  .filter-block {
    width: 32%;
  }
  #ex1Slider {
    font-size:0.9rem;
  }
  #dropdownMenuButton {
    width:207px;
  }
  #list-photo {
    max-height: 117px;
  }
  .details-provision {
    width: 97%!important;
    margin-top: 0px;
  }
  .advertisement-properties-button {
    width:147px;
  }
}

@media screen and (max-width: 768px) {
  #list-photo {
    max-height: 120px;
  }

  .advertisement {
    width: 99%;
  }
  .advertisement-one-list {
    flex-wrap: wrap;

  }
  .advertisement-img {
    width: 40%!important;
    height: 120px;

    #date-small-view {
      display: block!important;
      position: absolute;
      z-index: 10;
      top: 8px;
      left: 0px;
      background: rgba(173, 181, 189, 0.7);
      color: white;
    }

    .advertisement-one-photo-count {
      display:none;
    }
  }
  .advertisement-text-list {
    width: 55%!important;
  }
  .details-provision {
    width: 100%!important;
    margin-top: 0px!important;
  }
  .advertisement-properties {
    width: 100%!important;
    justify-content: space-between;
    margin-top: 10px;
    .advertisement-text-date {
      width: 30%!important;
      text-align:left!important;
      display: none!important;
    }
    .advertisement-properties-value {
      width: 60%!important;
    }
    .advertisement-properties-button-container {
      width: 37%!important;
    }
  }

  .filter-block {
    width: 100%;
  }
  .filter-purpose {
    max-width: 100%;
  }

  .filter-provision {
    max-width: 60%;
  }
  #turn-view{
    display: none!important;
  }

}