@import '~ol/ol.css';
$base-color: #3c8dbc;
$text-color: #626161;

.detail-column {
  padding: 0 0 0 10px;
  a {
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: white;
    line-height: 1;
    padding: 0.1rem 0.5rem;
    &:hover {
      background-color: darken(white, 10%);
    }
    &:active {
      background-color: darken(white, 30%) !important;
    }
    i {
      width: 100%;
    }

  }
  a:last-child {
    margin-top: 10px;
  }
}

.details-picture-miniature {
  height: 400px;
  overflow: hidden;
  position: relative;

  .details-picture-miniature-container {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .img-miniature {
    margin-top: 10px;
    padding: 0.15rem;
    border: 1px solid white;
    border-radius: 0.15rem;
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      border: 1px solid $base-color;
    }
  }
  .active {
    border: 1px solid $base-color;

  }
}

#carouselExampleControls {
  .carousel-inner {
    width: 100%;
    max-height: 400px;

  }
  .carousel-item {
    width: 100%;
    height: 400px;
    position: relative;

    img {
      max-height: 400px;
      max-width: 670px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .carousel-control-change {
    vertical-align: middle;
    color: $base-color;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      color: $base-color;
    }
    i {
      font-size: 1.5rem;
    }
  }
}

.details-panel {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #777777;
  i {
    font-size: 1.5rem;
    color: #adb5bd;
    vertical-align: top;
    margin: 0 4px 0 10px;
  }
  i:last-child {
    text-align: right;
  }
  span {
    vertical-align: baseline;
  }
  i:not(:first-child) {
    margin-left: 35px;
  }
}

.details-map {

  position: relative;
  #details-map-container {
    height: 400px;
  }

  .details-map-navigation {
    position: absolute;
    top: 356px;
    left: 21px;
    height: 37px;
    z-index: 100;
    border: 1px solid #00a2ad;
    #details-map-full {
      width: 35px;
      height: 35px;
      background: #f2efe9 url("../../../src/AppBundle/Resources/public/img/magnifying-glass.png") no-repeat center;
      border: none;
      border-bottom: 1px solid #d8d7d7;
      &:hover {
        background-color: #dffff9;
        cursor: pointer;
      }
    }
  }

  i {
    vertical-align: text-bottom;
  }
  .details-map-region {
    margin-top: 10px;
    font-size: 0.9rem;
  }
}

.details-title {
  color: $base-color;
  font-size: 1.5rem;
  margin-top: 20px;
}

.details-main {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  width: 100%;
  margin-top: 20px;
  .details-main-caption {
    padding: 20px 0 20px 15px;
    width: 40%;
    color: lighten($text-color, 10%);
    div:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .details-main-values {
    padding: 20px 0 20px 15px;
    width: 60%;
    color: $text-color;
    div:first-child {
      margin-bottom: 5px;
    }
    div:last-child {
      margin-top: 5px;
    }
    .details-main-price {
      vertical-align: middle;
      color: #ff7f00;
      font-size: 1.4rem;
    }
  }
}

.details-provision {
  margin-top: 25px;
  display: flex;
  width: 100%;

  div {
    //width: 32px;
    background-color: #f1f1f1;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
  }
  .active {
    border: 2px solid #7bd74a;
  }
}

.details-text-about {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #777777;
}

.details-services {
  margin-top: 17px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  a {
    color: $text-color;
    &:hover {
      color: darken($text-color, 10%);
      text-decoration: none;
    }
    i {
      font-size: 1.5rem;
      color: #adb5bd;
      vertical-align: top;
      margin: 0 4px 0 10px;
    }
  }
}

.details-communication {
  width: 100%;
  margin-top: 35px;
  padding: 25px;
  background-color: #f1f1f1;

}

.details-communication-text {
  margin: 35px 0;
  border: 1px solid #777777;
  border-radius: 4px;
  padding: 25px 5px;
}

.details-author-container {
  width: 100%;
  .details-author {
    transition: 0.2s;
    display: flex;
    width: 436px;
    background-color: #f1f1f1;
    padding: 10px 10px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;

  i {
      font-size: 2.8rem;
    }
    .details-author-photo {
      width: 15%;
    }
    .details-author-phones {
      margin-left: 15px;
      width: 35%;
      div {
        width: 100%;
      }
      div:first-child {
        font-size: 1.3rem;
      }
    }
    .details-author-additional {
      width: 50%;
      a {
        display: block;
        width: 90%;
        background-color: #adb5bd;
        padding: 7px 8px;
        color: white;
        margin: 0 auto;
        transition: 0.2s;
        &:hover {
          cursor: pointer;
          text-decoration: none;
          color: $text-color;
        }
        i {
          font-size: 1rem;
          color: white;
          margin-right: 5px;
        }
      }
      a:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}

.fixed {
  position: fixed;
  top: 10px;
  z-index: 100;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
}
#details-geom {
  visibility: hidden;
}

.block-message{
  margin-bottom: 1rem;

}
.message-row{
  background-color: #fffbcd;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}