<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="agrosales body justify-content-between d-flex flex-column">

        {% block header %}
        {% endblock %}

        <div class="body_content flex-grow-1">
            {% block body %}
            {% endblock %}
        </div>
        {% block footer %}
        {% endblock %}

    </div>
    {% block javascripts %}{% endblock %}
</body>

</html>
