<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}

        {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">#}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="agrosales body justify-content-between d-flex flex-column">

        {% block header %}
        {% endblock %}

        <div class="body_content flex-grow-1">
            {% block body %}
            {% endblock %}
        </div>
        {% block footer %}
        {% endblock %}

    </div>
    {% block javascripts %}{% endblock %}
</body>

</html>
