<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
    <div class="agrosales body justify-content-between d-flex flex-column">

        {% block header %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

    </div>
    {% block javascripts %}{% endblock %}
</body>

</html>
