<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="agrosales d-flex flex-column justify-content-between">
    {% block header%}

    {% endblock %}
    {% block body %}<di>a;bj'hj</di>{% endblock %}
    {% block footer%}

    {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
