{% extends '::base.html.twig' %}
{% block header %}
    <div id="wrapper">
        це шапка
    </div>
{% endblock %}
{% block footer %}
    <div id="wrapper">
        це підвал
    </div>
{% endblock %}