$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-select/dist/css/bootstrap-select';
@import "~@fortawesome/fontawesome-free/css/all.css";

//------------------------------------------------------------------налаштування
$text-color: #626161;
$base-color: #3c8dbc;
$icon-color: #adb5bd; //колір іконок в оголошенні

//------------------------------------ tooltip bootstrap
$background-field: #515151; //колір підложки
$tooltip-font-color: white; //колір тексту
$tooltip-border-color: white; //колір межі


@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.otf');
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}
.icon-color {
  color: $icon-color;
}

.alert {
  border-radius: 0.2rem!important;
}


//-------------------------------------------- change standart properties tooltips
.tooltip {
  font-size: 12px;
}

.tooltip-inner {
  background: $background-field;
  border: 1px solid $tooltip-border-color;
  color: $tooltip-font-color;
  border-radius: 2px;
  opacity: 1 !important;
  filter: alpha(opacity=100);
}

.tooltip.in {
  opacity: 1 !important;
  filter: alpha(opacity=100);
}

//---------- для стрілки вниз
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before{
  border-bottom-color: $background-field;
  opacity: 1 !important;
}

//---------- для стрілки вліво
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before{
  border-left-color: $background-field;
  opacity: 1 !important;
}



//---------------------------------------------------------------------------------------
body {
  font-family: MyriadPro;
  color: $text-color !important;
}

#wrapper {
  color: #0000F0;
}

.navbar {
  background-color: $base-color;
}

.logo-link {
  width: 110px;
  padding: 0.3rem 1rem 0.3rem 0.6rem !important;
}

.logo {
  width: 100%;
}

.main-menu:hover {
  color: #edf8fd;
}

.navbar-toggler-icon {
  color: #0000F0;
}

.body_content .container {
  padding-top: 1rem;
}

.body_content {
  background-color: #ecf0f5;
}

.modal-header {
  flex-direction: row-reverse;
}

.alert-danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

.navbar-brand {
  //padding: 0;
  border-right: 1px solid #76abab;

  margin-right: 0;
  &:focus {
    border: 1px solid $base-color !important;
  }
  padding: 0.6rem 1rem 0.6rem 0.6rem;
  //padding-right: 1rem;
}

#navbarSupportedContent {
  .main-menu {
    padding: 1rem 1rem 0.9rem 1rem;
    color: white;
    font-size: 1.1rem;
  }
  .nav-item {
    &:hover {
      background-color: lighten($base-color, 5%);
    }
    a.active {
      border-bottom: 4px solid #e08113;
    }
    i {
      margin-right: 0.3rem;
    }
  }
  .navbar-nav {
    height: 60px;
  }
  .btn-input {
    vertical-align: middle;
  }
}

.navbar {
  padding: 0;
}

.footer {
  background: #fff;
  border-top: 1px solid rgba(0, 40, 100, .12);
  font-size: .875rem;
  padding: 1.25rem 0;
  color: #9aa0ac;
  .footer-title-block {
    font-size: 16px;
    border-bottom: 1px solid #a5a5a5;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
  }
  a {
    color: #9aa0ac;
    font-weight: 400 !important;
    &:hover {
      color: #5b5e65;
    }
  }
}

html,
body {
  height: 100% !important;
  background-color: #ecf0f5 !important;
}

.agrosales {
  min-height: 100%;
}

.body_content .container {
  background-color: white;
}

.btn-input {
  font-size: 1rem;
}

.width_100 {
  width: 100% !important;
}

.flash-success {
  width: 100%;
  text-align: center;
  background-color: #00d800;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

.w-10 {
  width: 10% !important;
}

.w-5 {
  width: 5% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

@media (max-width: 992px) {
  .navbar-nav {
    height: auto !important;
  }
}

.alert {
  padding: 0.25rem 1rem;
}

.bootbox.bootbox-alert .modal-header {
  padding: 0.5rem 1rem;

  color: #fff;
  &.errorBootboxHead {
    background-color: #d9534f;
  }
  &.warningBootboxHead {
    background-color: #ffbd28;
  }
  &.okBootboxHead {
    background-color: #50bd53;
  }
  //border-radius: 0;
}

.preloader {
  z-index: 1000;
}

.home {
  width: 24px;
}

.my-button {
  &:hover {
    cursor: pointer;
  }
}
//---------------------------------------кнопки
.btn-grey {
  color: #626161!important;
  border-radius: 0.2rem!important;
  border: 1px solid #8e8e8e!important;
  text-align: center;
  display: inline-block;
  height: 35px;
  transition: 0.1s;
  padding: 0.375rem 0.75rem;
  background-color: transparent;

  &:hover {
    text-decoration: none;
    color: white!important;
    background-color: #adadad;
  }
}

.btn-blue {
  color: #3c8dbc!important;
  border: 1px solid #3c8dbc!important;
  border-radius: 0.2rem!important;
  height: 35px;
  background-color:transparent;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;

  transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;

  &:hover {
    background-color: #aad4f5;
    text-decoration: none;
    color: white!important;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2px;

  .btn-blue-cut {
    color: $base-color!important;
    text-align: center;
    display: block;
    height: 35px;
    border-radius: 0.2rem 0rem 0rem 0.2rem;
    border: 1px solid $base-color;
    transition: 0.1s;
    padding-top: 5px;
    &:hover {
      background-color: #aad4f5!important;
      text-decoration: none;
      color: white!important;

    }
  }
  .btn-position-cut {
    display: block;
    height: 35px;
    text-align: center;
    color: $icon-color;
    font-size: 1rem;
    padding-top: 4px;
    background: transparent;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    border-right: 1px solid $icon-color;
    border-top: 1px solid $icon-color;
    border-bottom: 1px solid $icon-color;
    i {
      font-size: 1.5rem;
      align-self: end;
      margin-left: 6px;
    }
    &:hover {
      cursor: pointer;
      color: #626161!important;
      text-decoration: none;
    }
  }
}

/**/

.sidebar-menu li>a>.pull-right-container{
  margin-top: -13px;
}

.color-grey{
  color:#8aa4af
}

.my-btn{
  text-align: center;
  border-radius: 0.2rem;
  transition: 0.1s;
  margin: 0.25rem;
  background: white;
  &:hover {
    text-decoration: none;
    color: white;

  }
}

.my-btn-grey {
  color:$text-color;
  border: 1px solid lighten($text-color, 10%);
  &:hover {
    background-color: lighten($text-color, 35%);
  }
}

.my-btn-blue {
  color: $base-color;
  border: 1px solid lighten($base-color, 10%);
  &:hover {
    background-color: lighten($base-color, 25%);
  }
}

.my-btn-red {
  color: red;
  border: 1px solid lighten(red, 10%);
  &:hover {
    background-color: lighten(red, 35%);
  }
}

.my-btn-green {
  color: darkgreen;
  border: 1px solid lighten(darkgreen, 10%);
  &:hover {
    background-color: #7fe07f;
  }
}