@import '../generalSettings';
@import '../cabinet/cabinet';

.admin_table_column {
  img {
    max-height: 150px;
  }

  th {
    padding: 0.4rem;
  }
  .btn{
    width: 102px;
  }
}

#tab-my-advertisement{
  .nav-link {
    color: $text-color;
    &.active {
      color: $base-color;
    }
  }
}

#map-create-container{
  height: 600px;
}

#form_new_advertisement{
  .form-group{
    margin-bottom: 0.5rem;
    label{
      margin-bottom: 0;
    }
  }
}

#advertisement-map-marker {
  font-size: 30px;
  //display: none;
  color:darken($base-color, 15%);
}
#map-create-container{
  border: 1px solid lighten($text-color, 40%);
}

#add-photo-button{
  margin-top: 1rem;
  color:white;
}
#advertisement_prototype_photos{
  img{
    width: 100px;
    border-radius: 4px;
    margin: 0.5rem auto;
  }
  .add-photo{
    margin: 0.5rem auto;
  }
  .remove-file{
    font-size: 0.6rem;
    margin-right: 0.5rem;
  }

  >div{
    display: flex;
    align-items: center;
    button{
      height: 22px;
    }
  }
  span{
    margin: auto 10rem auto auto;
  }

  .mb-2{
    background-color: #f7fcff;
  }

}


.map_search_block{
  height: 30px;
  position: absolute;
  z-index: 1;
  top:57px;
  #text_search_cad_num{
    height: 27px;
    padding-bottom: 0.15rem;
  }

  #btn_search_cad_num{
    background-color: #3c8dbc;
    border-radius: 0;
    color: white;
    padding: 0.275rem 0.5rem;
    font-size: 0.7rem;
    &:focus{
      box-shadow: none;
    }
  }
}

#admin_advertisement_filter_dirStatus{
  width: 250px;
}
form{
 background-color: #f1f1f1;
  padding: 0.5rem 1rem;
}

.navbar-nav>li>a:hover{
  background: #4c99c6 !important;
}

.main-sidebar{
  padding-top: 0;
}

.content-wrapper{
  min-height: auto !important;
}

.fa-circle{
  margin-left: 6px;
}
