@import '../generalSettings';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme.css';

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.title {
  position: relative;
  background: url("../../../src/AppBundle/Resources/public/img/title.jpg") no-repeat center;
  height: 300px;
  background-size: cover;
  color: white;
  text-align: center;

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../../src/AppBundle/Resources/public/img/bg_blog_article_cover_black.png") repeat;
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }
  .container {
    background-color: transparent;
  }
  .title-content {
    padding-top: 150px;
    text-align: left;
  }
}

.main-content-block {
  width: 30%;
}

.blocks-button-else {

  border-bottom: 1px solid #d9d9d9;
  a {
    background-color: #f1f1f1;
    align-items: center;
    min-width: 340px;
    color: inherit;
    transition: 0.2s;
    &:hover {
      box-shadow: 0px 1px 6px 0px #bfb8b8;
      color: #007bff !important;
    }
    .block-cover {
      padding: 15px;
      transform: rotate(45deg);
      border-radius: 0.35rem;
      border: solid 2px rgba(210, 215, 217, 1);
    }
    div {
      font-size: 1.2rem;
      margin: 0 auto;
      //text-align: center;
    }
  }
  img {
    width: 68px;
    transform: rotate(-45deg);
  }
}

.last-advertisement {

  // ------------------------------окреме оголошення
  .advertisement-one {
    width: 270px !important;
    border: solid 1px #d9d9d9;
    margin: 20px 0;
    transition: 0.1s;
    &:hover {
      border: solid 1px white;
      box-shadow: 0px 4px 6px -2px #bfb8b8;
    }

    //----------------------------блок img
    .advertisement-img {
      position: relative;
      height: 178px;
      overflow: hidden;
      img {
        max-height: 185px;
        max-width: 270px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  //--------------------------------блок текстова частина
  .advertisement-text {
    padding: 7px;
    justify-content: space-between;
    line-height: 1.5rem;
    border-top: 1px solid #d9d9d9;

    a.advertisement-text-title {
      color: $base-color;
      display: block;
      &:hover {
        color: #0d7fce;
      }
    }
    .advertisement-text-price {
      color: #ff7f00;
      font-size: 1.2rem;
      align-self: center;
    }
  }
}

@media screen and (max-width: 1199px) {
  .main-content-block {
    width: 55%;
  }
}

@media screen and (max-width: 991px) {
  .main-content-block {
    width: 65%;
  }
  .title-content {
    padding-top: 115px!important;
  }
}

@media screen and (max-width: 767px) {
  .main-content-block {
    width: 78%;
  }
}
