@import '../generalSettings';
@import 'AdminLTE.css';
@import "skin-blue.min.css";

.advertisement_one {
  img {
    max-height: 150px;
  }

  th {
    padding: 0.4rem;
  }
}

#tab-my-advertisement{
  .nav-link {
    color: $text-color;
    &.active {
      color: $base-color;
    }
  }
}
.my_advertisement_table {

}