@import '../generalSettings';

.advertisement_one {
  img {
    max-height: 150px;
  }

  th {
    padding: 0.4rem;
  }
  .btn{
    width: 102px;
  }
}

#tab-my-advertisement{
  .nav-link {
    color: $text-color;
    &.active {
      color: $base-color;
    }
  }
}

#map-create-container{
  height: 600px;
}

#form_new_advertisement{
  .form-group{
    margin-bottom: 0.5rem;
    label{
      margin-bottom: 0;
    }
  }
}

#advertisement-map-marker {
  font-size: 30px;
  //display: none;
  color:darken($base-color, 15%);
}
#map-create-container{
  border: 1px solid lighten($text-color, 40%);
}

#add-photo-button{
 // margin-top: 1rem;
 // color:white;
}
#advertisement_prototype_photos{
  img{
    width: 100px;
    border-radius: 4px;
    margin: 0.5rem auto;
  }
  .add-photo{
    margin: 0.5rem auto;
  }
  .remove-file{
    font-size: 0.6rem;
    margin-right: 0.5rem;
  }

  >div{
    display: flex;
    align-items: center;
    button{
      height: 22px;
    }
  }
  span{
    margin: auto 10rem auto auto;
  }

  .mb-2{
    background-color: #f7fcff;
  }

}


.map_search_block{
  height: 30px;
  position: absolute;
  z-index: 1;
  top:57px;
  #text_search_cad_num{
    height: 27px;
    padding-bottom: 0.15rem;
  }

  #btn_search_cad_num{
    background-color: #3c8dbc;
    border-radius: 0;
    color: white;
    padding: 0.275rem 0.5rem;
    font-size: 0.7rem;
    &:focus{
      box-shadow: none;
    }
  }

}
.navbar-nav>li>a:hover{
  background: #4c99c6 !important;
}

.main-sidebar{
  padding-top: 0;
}

.body_content{
  display: flex;
}

.wrapper{
  height: auto;
  display: flex;
  flex-grow: 1;
}
.content-wrapper{
  flex-grow: 1;
}

.column-header{
  position: relative;
  >div{
    position: static;
    top:5px;
    left:0;
    right: 0;
    bottom: 2px;
  }
}


tr{
  border: solid 1px #d9d9d9;
}

tbody tr{
  &:hover{
    border: solid 1px white;
    box-shadow: 0px 1px 6px 0px #bfb8b8;
  }
}

.table>tbody>tr>th{
  border-top: none;
}
.table>thead>tr{
  background-color: #f1f1f1;
}
.table>thead>tr>th{
  color: #444;
  font-weight: 400;
  border-bottom: 0;
  border-top: solid 1px #d9d9d9;
  font-size: 18px;
}

.form-control{
  border-radius: 0;

}
.form-group{
  label{
    font-weight: 400 !important;
  }
}

.details-provision{
  .active{
    border: 2px solid #7bd74a;
  }
  div {
    background-color: #f1f1f1;
    margin-right: 12px;
    padding: 8px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
  }
  img{
    width: 22px;
  }
}

.treeview-menu>li>a,
.sidebar{
  font-size: 0.9rem;
}

.fa-circle{
  font-size: 12px;
}